
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .vl {
        border-left: 4px solid gray;
        height: 250px;
    }
</style>

<div class="row">
    <div>
        <h3>Üye Sayısı: @ViewBag.count_uye</h3>
        <br />
        <h3>Kategori Sayısı: @ViewBag.count_kategori</h3>
        <br />
        <h3>Dergi Sayısı: @ViewBag.count_dergi</h3>
    </div>
  
    &emsp;
    <div class="vl"></div>
    &emsp;
    <div>
        <h3>Abonelik Sayısı: @ViewBag.count_abone</h3><br />
        <h3>Aktif Abonelik Sayısı: @ViewBag.count_aktifabone</h3><br />
        <h3>Pasif Abonelik Sayısı: @(ViewBag.count_abone - ViewBag.count_aktifabone)</h3><br />
        <h3>Yakında Bitecek Abonelik Sayısı: @(ViewBag.count_bitecek)</h3><br />
    </div>
</div>
