@using DergiAboneProje.Models
@model List<Abonelikler>
@{
    ViewData["Title"] = @ViewBag.drgad + " Dergisine Abonelikler || Dergi ID: " + @ViewBag.drgid;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>

    <script>
        $(document).ready(function () {
            $('#AbonelikTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>

    <div>
        <table id="AbonelikTable" class="row-border stripe hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>KayıtTarihi(Ay/Gün/Yıl)</th>
                    <th>Kayıt Süresi(ay)</th>
                    <th>Üye ID</th>
                    @*<th>Dergi ID</th>*@
                    <th>İptal</th>
                </tr>
            </thead>
            
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.KayıtID</td>
                    <td>@x.KayıtTarihi.ToShortDateString()</td>
                    <td>@x.KayıtSuresi</td>
                    <td>@x.UyeID</td>
                   @* <td>@x.DergiID</td>*@
                    <td><a href="/Abonelik/Iptal/@x.KayıtID" class="btn btn-danger">İptal</a></td>
                </tr>
            }

        </table>
    </div>

</div>