@using DergiAboneProje.Models
@model List<Abonelikler>
@{
    ViewData["Title"] = "(ID: " + @ViewBag.drgid + ") " + @ViewBag.drgad + " Dergisi Abonelikler ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <link href="~/css/tableactive.css" rel="stylesheet" />



    <div class="w3-bar" id="tabDIV">
        <a class="btn zbtn zactive" style="font-size:20px" onclick="openTable('AktifT')">Aktif Abonelikleri Listele</a>
        <a class="btn zbtn" style="font-size:20px" onclick="openTable('PasifT')">Pasif Abonelikleri Listele</a>
    </div>
    <br />

    <div id="AktifT" class="table">
        <table id="AktifTable" class="row-border stripe hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>KayıtTarihi(Ay/Gün/Yıl)</th>
                    <th>Kalan Gün</th>
                    <th>Üye ID</th>
                    <th>Üye Adı</th>
                    <th>Düzenle</th>
                    <th>İptal</th>
                </tr>
            </thead>

            @foreach (var x in Model)
            {
                if ((x.KayıtTarihi.AddDays(x.KayıtSuresi) - DateTime.Now).Days <= 0)
                {
                    continue;
                }
        <tr>
            <td>@x.KayıtID</td>
            <td>@x.KayıtTarihi.ToShortDateString()</td>
            <td>@((x.KayıtTarihi.AddDays(x.KayıtSuresi) - DateTime.Now).Days)</td>
            <td>@x.UyeID</td>
            <td>@x.Uye.UyeAD</td>
            <td><a href="/Abonelik/Duzenle/@x.KayıtID" class="btn btn-success">Düzenle</a></td>
            <td><a href="#" onclick="Confirm2(@x.KayıtID)" class="btn btn-danger">İptal</a></td>
        </tr>
            }

        </table>
    </div>
    
    <div id="PasifT" class="table" style="display:none">
        <table id="PasifTable" class="row-border stripe hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>KayıtTarihi(Gün/Ay/Yıl)</th>
                    <th>Gün Önce Bitti</th>
                    <th>Üye ID</th>
                    <th>Üye Adı</th>
                    <th>Kaydı Sil</th>
                </tr>
            </thead>

            @foreach (var x in Model)
            {
                if ((x.KayıtTarihi.AddDays(x.KayıtSuresi) - DateTime.Now).Days > 0)
                {
                    continue;
                }
                <tr>
                    <td>@x.KayıtID</td>
                    <td>@x.KayıtTarihi.ToString("dd/MM/yyyy")</td>
                    <td>@(Math.Abs((x.KayıtTarihi.AddDays(x.KayıtSuresi) - DateTime.Now).Days))</td>
                    <td>@x.UyeID</td>
                    <td>@x.Uye.UyeAD</td>
                    <td><a href="#" onclick="Confirm(@x.KayıtID)" class="btn btn-danger">Kaydı Sil</a></td>
                </tr>
            }

        </table>
    </div>
    <script>
        function Confirm(id) {
            swal({
                title: "Silmek istediğinize emin misiniz ? (ID: " + id + ")",
                icon: "warning",
                buttons: {
                    cancel: "Hayır",
                    true: "Evet",
                },
            })
                .then((willDelete) => {
                    if (willDelete) {
                        window.location.href = "/Abonelik/Sil/" + id;
                        swal({
                            title: "Abonelik silme işlemi başarılı!",
                            icon: "success",
                            buttons: "Tamam",
                        }).then(value => {
                            window.location.href = "/Dergi/Detay/" + @ViewBag.drgid;
                        });
                    }

                });
        }
        function Confirm2(id) {
            swal({
                title: "İptal etmek istediğinize emin misiniz ? (ID: " + id + ")",
                icon: "warning",
                buttons: {
                    cancel: "Hayır",
                    true: "Evet",
                },
            })
                .then((willDelete) => {
                    if (willDelete) {
                        window.location.href = "/Abonelik/Iptal/" + id;
                        swal({
                            title: "Abonelik iptal işlemi başarılı!",
                            icon: "success",
                            buttons: "Tamam",
                        }).then(value => {
                            window.location.href = "/Dergi/Detay/" + @ViewBag.drgid;
                        });
                    }

                });
        }
        var header = document.getElementById("tabDIV");
        var btns = header.getElementsByClassName("zbtn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("zactive");
                current[0].className = current[0].className.replace(" zactive", "");
                this.className += " zactive";
            });
        }

        $(document).ready(function () {
            $('#AktifTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
        $(document).ready(function () {
            $('#PasifTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
        function openTable(tableName) {
            var i;
            var x = document.getElementsByClassName("table");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(tableName).style.display = "block";
        }


    </script>
</div>