@model DergiAboneProje.Models.Dergiler
@{
    ViewData["Title"] = "Dergi Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<form class="form-group" method="post" id="myForm">
    <div class="eklediv">
        <h4>Dergi ID : @Model.DergiID</h4>
        @Html.HiddenFor(x => x.DergiID)
        <br />
        <h4>Dergi Kayıt Tarihi: @Model.DergiTARIH.ToShortDateString()</h4>

        <br />
        <h4>Dergi Adı</h4>
        @Html.TextBoxFor(x => x.DergiAD, new { @class = "form-control" })
        <br />
        <h4>Kategori Adı</h4>
        <div>
            <label asp-for="KategoriID">Kategori Adı</label>
            <select class="form-control chosen-select" asp-for="KategoriID">
                @foreach (var item in (List<SelectListItem>)ViewBag.dgr)
                {
                    <option value="@item.Value">@("("+ item.Value + ")" + item.Text)</option>
                }
            </select>
            @*<span asp-validation-for="KategoriID" class="text-danger"></span>*@
        </div>
    </div>
</form>
<br />
<button class="btn btn-info" onclick="BlankCheck()">Düzenlemeyi Kaydet</button>


<div>
    <a asp-action="Liste">Listeye Dön</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $("#KategoriID").chosen({
        no_results_text: "Eşleşme bulunamadı!"
    })
    var BlankCheck = function () {
        var DergiAD = $('#DergiAD').val();

        if (DergiAD == "" || DergiAD == undefined) {
            swal("Uyarı", "Dergi adı boş bırakılamaz!", "error")
            return false;
        }
        else {
            document.getElementById("myForm").submit();
            swal({
                title: "Dergi düzenleme başarılı!",
                icon: "success",
                button: "Tamam",
            }).then(value => {
                @if (TempData.ContainsKey("KtgKey"))
                {

                    <text>
                     window.location.href = "/Kategori/Detay/" + @TempData["KtgKey"];
                   </text>

                }
                else
                 {
                    <text>
                     window.location.href = "/Dergi/Liste/";
                    </text>
                   }

            });
            return true;
        }
    }

    </script>
    }