@using DergiAboneProje.Models
@model List<Dergiler>

@{
    ViewData["Title"] = "Dergiler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <table id="DergiTable" class="row-border stripe hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Dergi Adı</th>
                <th>Aylık Ücret</th>
                <th>Kategori Adı</th>
                <th>Kayıt Tarihi</th>
                <th>Düzenle</th>
                <th>Sil</th>
                <th>Detaylar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.DergiID</td>
                    <td>@x.DergiAD</td>
                    <td>@x.AylikUcret</td>
                    <td>@x.Kategoriler.KategoriAD</td>
                    <td>@x.DergiTARIH.ToString("dd/MM/yyyy")</td>
                    <td><a href="/Dergi/Duzenle/@x.DergiID" class="btn btn-success">Düzenle</a></td>
                    <td><a href="#" onclick="Confirm(@x.DergiID)" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Dergi/Detay/@x.DergiID" class="btn btn-warning">Detaylar</a></td>
                </tr>
            }
        <tbody>

    </table>

    <a href="/Dergi/Ekle/" class="btn btn-success">Yeni Dergi Ekle</a>

</div>
@section Scripts {
    
    <script>
    $(document).ready(function () {
        $('#DergiTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    });

        function Confirm(id) {

        swal({
            title: "Silmek istediğinize emin misiniz ?",
            text: "(ID: " + id + ")",
            icon: "warning",
            buttons: {
                cancel: "Hayır",
                true: "Evet",
            },
        })
            .then((willDelete) => {
                if (willDelete) {                   
                $.get('/Dergi/CheckAbonelik',{'id':id},function(response){       
                    if(response.result) {
                     swal("Uyarı", "Bu dergiyi, dergiye abonelik kaydı varken silemessiniz.", "error");            
                     }
                    else {
                     window.location.href = "/Dergi/Sil/" + id;
                     swal({
                     title: "Dergi silme işlemi başarılı!",
                     icon: "success",
                     buttons: "Tamam",
                     }).then(value => {
                     window.location.href = "/Dergi/Liste/";
                     });
                    }            
                })
                }

            });
        }
    </script>


    }
