
@model DergiAboneProje.Models.Uyeler
@{
    ViewData["Title"] = "Üye Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />

<div class="eklediv">


    <form class="form-group" method="post" id="myForm">
        <h4>Üye ID: @Model.UyeID</h4>
        @Html.TextBoxFor(x => x.UyeID, new { @class = "form-control", @readonly = "readonly", style = "display: none;" })
        <br />
        <div class="txtbox">
            <h4>Üye Adı</h4>
            @Html.TextBoxFor(x => x.UyeAD, new { @class = "form-control", @id = "TxtUyeAd", @maxlength = "50" })
        </div>
        <br />
        <div class="txtbox">
            <h4>Email</h4>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @id = "TxtEmail" })
        </div>
        <br />
        <div class="txtbox">
            <h4>Tel No</h4>
            @Html.TextBoxFor(x => x.TelNo, new { @class = "form-control", @id = "TxtTelNo", @maxlength = "10" })
        </div>
        <br />
        <h4>Doğum Tarihi(Gün/Ay/Yıl)</h4>
        <input asp-for="Tarih" type="text" class="form-control" asp-format="{0:m/dd/yyyy}" value="@Model.Tarih.ToShortDateString()" maxlength="10" id="TarihSec" />

    </form>
    <br />
    <button class="btn btn-info" onclick="BlankCheck()" >Düzenlemeyi Kaydet</button>
</div>
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>
<script type="text/javascript" src="js/moment/tr.js"></script>
<script>


    $('#TarihSec').datepicker({
        format: 'm/dd/yyyy',
        autoclose: true,
        language: "tr",
        weekStart: 1
    });
    var BlankCheck = function () {
        var UyeAD = $('#TxtUyeAd').val();
        var Email = $('#TxtEmail').val();
        var TelNo = $('#TxtTelNo').val();
        //var Tarih = $('#TarihSec').val();
        
        if (UyeAD == "" || UyeAD === null || Email == "" || Email == null || TelNo == "" || TelNo == null || TelNo.length < 9) {
            swal("Uyarı", "Lütfen tüm alanları doğru şekilde doldurunuz.", "error");
            return false;
        }

        else {
            document.getElementById("myForm").submit();
            swal({
                title: "Üye düzenleme başarılı!",
                icon: "success",
                button: "Tamam",
            }).then(value => {
                window.location.href = "/Uye/Liste/";
            });
            return true;
        }
       
       
    }

    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
    $(document).ready(function () {
        $("#TxtTelNo").keydown(function (event) {
            var inputValue = event.which;
            // sadece sayı ve boşluk
            if (!(inputValue > 47 && inputValue < 58) && !(inputValue >= 96 && inputValue <= 105) && inputValue != 8 && inputValue != 9) {
                event.preventDefault();
            }
        });
    });
    $(document).ready(function () {
        $("#TxtUyeAd").keydown(function (event) {
            var inputValue = event.which;
            // sadece karakter yazdırır ve boşluk
            if (!(inputValue >= 65 && inputValue <= 92) && (inputValue != 8 && inputValue != 32 && inputValue != 191 && inputValue != 220 && inputValue != 222 && inputValue != 186 && inputValue != 221 && inputValue != 219 && inputValue != 9)) {
                event.preventDefault();

            }
        });
    });
</script>



