@using DergiAboneProje.Models
@model List<Uyeler>
@{
    ViewData["Title"] = "Üye Liste";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div>
    <script>
        $(document).ready(function () {
            $('#AboneTable').DataTable();
        });
    </script>
    <h2 class="my-header">Üyeler</h2>
    <br />

    <table id="AboneTable" class="row-border stripe hover table-bordered">
        <thead>
            <tr>
                <th>Üye ID</th>
                <th>Üye Adı Soyadı</th>
                <th>Email</th>
                <th>Tel No</th>
                <th>Doğum Tarihi</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.UyeID</td>
                    <td>@x.UyeAD</td>
                    <td>@x.Email</td>
                    <td>@x.TelNo</td>
                    <td>@x.Tarih.ToShortDateString()</td>
                    <td><a href="/Aboneler/Duzenle/@x.UyeID" class="btn btn-success">Düzenle</a></td>
                    <td><a href="/Abone/Sil/@x.UyeID" class="btn btn-danger">Sil</a></td>                    
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a href="/Uye/Ekle/" class="btn btn-success">Yeni Üye Ekle</a>

</div>



