@model DergiAboneProje.Models.Abonelikler
@{
    ViewData["Title"] = "Abonelik DÜzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="eklediv">
    <form class="form-group" method="post">


        <h4>Kayıt ID : @Model.KayıtID</h4>
        @Html.TextBoxFor(x => x.KayıtID, new { @class = "form-control", @readonly = "readonly", style = "display: none;" })
        <br />
        <h4>Kayıt Tarihi : @Model.KayıtTarihi.ToShortDateString()</h4>
        <br />
        <div class="txtbox">
            <h4>Kayıt Süresi (ay)</h4>
            @*<input disabled asp-for="KayıtSuresi" class="form-control" onkeypress="this." type="number" max=""/>*@
            @(Html.TextBoxFor(x => x.KayıtSuresi, new { @class = "form-control", @type = "number",@min="1", @max = "24", @id = "txt_KAYIT" }))
        </div>
        <br />
        <h4>Abone</h4>
        <div>
            <select class="form-control chosen-select" asp-for="UyeID" id="txt_UYEID">
                <option selected disabled style="display:none" value="-1">Üye Seçiniz...</option>
                @foreach (var item in (List<SelectListItem>)ViewBag.uID)
                {
                    <option value="@item.Value">@( "("+ item.Value + ")" + item.Text)</option>
                }
            </select>
            <span asp-validation-for="UyeID" class="text-danger"></span>
        </div>
        <br />
        <h4>Dergi</h4>
        <div>
            <select class="form-control chosen-select" asp-for="DergiID" id="txt_DERGIID">
                <option selected disabled style="display:none" value="-1">Dergi Seçiniz...</option>
                @foreach (var item in (List<SelectListItem>)ViewBag.dID)
                {
                    <option value="@item.Value">@( "("+ item.Value + ")" + item.Text)</option>
                }
            </select>
        </div>
        <br />
        <button class="btn btn-info" onclick="BlankCheck();" type="submit">Düzenlemeyi Kaydet</button>


    </form>
</div>

<script>
    $("#txt_UYEID").chosen({
        no_results_text: "Eşleşme bulunamadı!"
    });
    $("#txt_DERGIID").chosen({
        no_results_text: "Eşleşme bulunamadı!"
    });
    $("[type='number']").keypress(function (evt) {
        evt.preventDefault();
    });
    //function validate(evt) {
    //    var theEvent = evt || window.event;

    //    // Handle paste
    //    if (theEvent.type === 'paste') {
    //        key = event.clipboardData.getData('text/plain');
    //    } else {
    //        // Handle key press
    //        var key = theEvent.keyCode || theEvent.which;
    //        key = String.fromCharCode(key);
    //    }
    //    var regex = /[0-9]|\./;
    //    if (!regex.test(key)) {
    //        theEvent.returnValue = false;
    //        if (theEvent.preventDefault) theEvent.preventDefault();
    //    }
    //}

    var BlankCheck = function () {
        var KayıtSuresi = $('#txt_KAYIT').val();
        var UyeID = $('#txt_UYEID').val();
        var DergiID = $('#txt_DERGIID').val();

        if (KayıtSuresi == "" || DergiID == null || UyeID == null) {
            swal("Uyarı", "Lütfen tüm boşlukları doldurunuz.", "error")
            return false;

        }
        return true;
    }

</script>