@using DergiAboneProje.Models
@model List<Abonelikler>
@{
    ViewData["Title"] = "Abonelik Liste";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>

    <h2 class="my-header">Abonelikler</h2>
    <br />
    <script>
        $(document).ready(function () {
            $('#AbonelikTable').DataTable();
        });
    </script>

    <div>
        <table id="AbonelikTable" class="row-border stripe hover table-bordered">
            <thead>
                <tr>
                    <th>Abonelik ID</th>
                    <th>KayıtTarihi</th>
                    <th>Kayıt Süresi (ay)</th>
                    <th>Üye ID</th>
                    <th>Üye Adı</th>
                    <th>Dergi ID</th>
                    <th>Dergi Adı</th>
                    <th>İptal</th>
                </tr>
            </thead>

            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.KayıtID</td>
                    <td>@x.KayıtTarihi.ToShortDateString()</td>
                    <td>@x.KayıtSuresi</td>
                    <td>@x.UyeID</td>
                    <td>@x.Uye.UyeAD</td>
                    <td>@x.DergiID</td>
                    <td>@x.Dergi.DergiAD</td>
                    <td><a href="/Abonelik/Iptal/@x.KayıtID" class="btn btn-danger">İptal</a></td>
                </tr>
            }

        </table>
    </div>


    <br />
    <a href="/Abonelik/Ekle/" class="btn btn-success">Yeni Abonelik Ekle</a>

</div>


