@using DergiAboneProje.Models
@model List<Abonelikler>

@{
    ViewData["Title"] = "Aktif Abonelikler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>

    
    <script>
        $(document).ready(function () {
            $('#AbonelikTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>

    <div>
        <table id="AbonelikTable" class="row-border stripe hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kayıt Tarihi(Ay/Gün/Yıl)</th>
                    <th>Kalan Gün</th>
                    <th>Üye ID</th>
                    <th>Üye Adı</th>
                    <th>Dergi ID</th>
                    <th>Dergi Adı</th>
                    <th>Düzenle</th>
                    <th>İptal</th>
                </tr>
            </thead>

            @foreach (var x in Model)
            {
                
                if ((x.KayıtTarihi.AddDays(x.KayıtSuresi ) - DateTime.Now).Days <= 0)
                {
                    continue;
                }
                <tr>
                    <td>@x.KayıtID</td>
                    <td>@x.KayıtTarihi.ToShortDateString()</td>
                    <td>@((x.KayıtTarihi.AddDays(x.KayıtSuresi) - DateTime.Now).Days)</td>
                    <td>@x.UyeID</td>
                    <td>@x.Uye.UyeAD</td>
                    <td>@x.DergiID</td>
                    <td>@x.Dergi.DergiAD</td>
                    <td><a href="/Abonelik/Duzenle/@x.KayıtID" class="btn btn-success">Düzenle</a></td>
                    <td><a href="/Abonelik/Iptal/@x.KayıtID" class="btn btn-danger">İptal</a></td>
                </tr>
            }

        </table>
    </div>


    <br />
    <a href="/Abonelik/Ekle/" class="btn btn-success">Yeni Abonelik Ekle</a>
    &nbsp;&nbsp;
    <a href="/Abonelik/Pasif/" class="btn btn-warning">Pasif Abonelikleri Listele</a>


</div>


