@using DergiAboneProje.Models
@model List<Abonelikler>

@{
    ViewData["Title"] = "Abonelikler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/css/tableactive.css" rel="stylesheet" />
<div>
    <div class="w3-bar" id="tabDIV">
        <a class="btn zbtn zactive" style="font-size:20px" onclick="openTable('AktifT')">Aktif Abonelikleri Listele</a>
        <a class="btn zbtn" style="font-size:20px" onclick="openTable('PasifT')">Pasif Abonelikleri Listele</a>
    </div>
    <br />
    <div id="AktifT" class="table">
        <table id="AktifTable" class="row-border stripe hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kayıt Tarihi(Gün/Ay/Yıl)</th>
                    <th>Kalan Gün</th>
                    <th>Üye ID</th>
                    <th>Üye Adı</th>
                    <th>Dergi ID</th>
                    <th>Dergi Adı</th>
                    <th>Düzenle</th>
                    <th>İptal</th>
                </tr>
            </thead>
            @foreach (var x in Model)
            {
                if ((x.KayıtTarihi.AddDays(x.KayıtSuresi) - DateTime.Now).Days <= 0)
                {
                    continue;
                }
                <tr>
                    <td>@x.KayıtID</td>
                    <td>@x.KayıtTarihi.ToString("dd/MM/yyyy")</td>
                    <td>@((x.KayıtTarihi.AddDays(x.KayıtSuresi) - DateTime.Now).Days)</td>
                    <td>@x.UyeID</td>
                    <td>@x.Uye.UyeAD</td>
                    <td>@x.DergiID</td>
                    <td>@x.Dergi.DergiAD</td>
                    <td><a href="/Abonelik/Duzenle/@x.KayıtID" class="btn btn-success">Düzenle</a></td>
                    <td><a href="#" class="btn btn-danger" onclick="Confirm2(@x.KayıtID)">İptal</a></td>
                </tr>
            }
        </table>
    </div>
    <div id="PasifT" class="table"  style="display:none"> 
        <table id="PasifTable" class="row-border stripe hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kayıt Tarihi</th>
                    <th>Gün Önce Bitti</th>
                    <th>Üye ID</th>
                    <th>Üye Adı</th>
                    <th>Dergi ID</th>
                    <th>Dergi Adı</th>
                    <th>Kaydı Sil</th>
                </tr>
            </thead>
            @foreach (var x in Model)
            {
                if ((x.KayıtTarihi.AddDays(x.KayıtSuresi) - DateTime.Now).Days > 0)
                {
                    continue;
                }
                <tr id="ptb">
                    <td>@x.KayıtID</td>
                    <td>@x.KayıtTarihi.ToString("dd/MM/yyyy")</td>
                    <td>@((DateTime.Now - x.KayıtTarihi.AddDays(x.KayıtSuresi)).Days)</td>
                    <td>@x.UyeID</td>
                    <td>@x.Uye.UyeAD</td>
                    <td>@x.DergiID</td>
                    <td>@x.Dergi.DergiAD</td>
                    <td><a href="#" class="btn btn-danger" onclick="Confirm(@x.KayıtID)">Kaydı Sil</a></td>
                </tr>
            }
        </table>
    </div>    
    <a href="/Abonelik/Ekle/" class="btn btn-success">Yeni Abonelik Ekle</a> 

    <script>
         //sweetalert ile  silme işlemi onayı
        function Confirm(id) {
            swal({
                title: "Silmek istediğinize emin misiniz ? (ID: " + id + ")",
                icon: "warning",
                buttons: {
                    cancel: "Hayır",
                    true: "Evet",
                },
            })
                .then((willDelete) => {
                    if (willDelete) {
                        window.location.href = "/Abonelik/Sil/" + id;
                        swal({
                            title: "Abonelik silme işlemi başarılı!",
                            icon: "success",
                            buttons: "Tamam",
                        }).then(value => {
                            window.location.href = "/Abonelik/Liste/";
                        });
                    }

                });
        }
         //sweetalert ile  silme işlemi onayı
        function Confirm2(id) {
            swal({
                title: "İptal etmek istediğinize emin misiniz ? (ID: " + id + ")",
                icon: "warning",
                buttons: {
                    cancel: "Hayır",
                    true: "Evet",
                },
            })
                .then((willDelete) => {
                    if (willDelete) {
                        window.location.href = "/Abonelik/Iptal/" + id;
                        swal({
                            title: "Abonelik iptal işlemi başarılı!",
                            icon: "success",
                            buttons: "Tamam",
                        }).then(value => {
                            window.location.href = "/Abonelik/Liste/";
                        });
                    }

                });
        }
        //aktif pasif table göster gizlemek için
        var header = document.getElementById("tabDIV");
        var btns = header.getElementsByClassName("zbtn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("zactive");
                current[0].className = current[0].className.replace(" zactive", "");
                this.className += " zactive";
            });
        }
        function openTable(tableName) {
            var i;
            var x = document.getElementsByClassName("table");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(tableName).style.display = "block";
        }
         //datatables JS kütüphanesi kullanıldı ve türkçe arayüz yüklendi
        $(document).ready(function () {
            $('#AktifTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
        $(document).ready(function () {
            $('#PasifTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>
</div>


