@using DergiAboneProje.Models
@model List<Abonelikler>
@{
    ViewData["Title"] = "Pasif Abonelikler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>

    
    <script>
        $(document).ready(function () {
            $('#AbonelikTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>

    <div>
        <table id="AbonelikTable" class="row-border stripe hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kayıt Tarihi(Ay/Gün/Yıl)</th>
                    <th>Gün Önce Bitti</th>
                    <th>Üye ID</th>
                    <th>Üye Adı</th>
                    <th>Dergi ID</th>
                    <th>Dergi Adı</th>
                </tr>
            </thead>

            @foreach (var x in Model)
            {
                if ((x.KayıtTarihi.AddDays(x.KayıtSuresi) - DateTime.Now).Days > 0)
                {
                    continue;
                }
                <tr>
                    <td>@x.KayıtID</td>
                    <td>@x.KayıtTarihi.ToShortDateString()</td>
                    <td>@((DateTime.Now - x.KayıtTarihi.AddDays(x.KayıtSuresi)).Days)</td>
                    <td>@x.UyeID</td>
                    <td>@x.Uye.UyeAD</td>
                    <td>@x.DergiID</td>
                    <td>@x.Dergi.DergiAD</td>
                </tr>
            }

        </table>
    </div>

</div>


